*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ecc7d0;
    
  }

  /* Container para a logo */
.logo-container {
  position: absolute; /* Fixa a logo no local desejado */
  top: 10px; /* Ajuste o valor conforme necessário para a posição vertical */
  left: 10px; /* Ajuste o valor conforme necessário para a posição horizontal */
  z-index: 1000; /* Mantém a logo sobre outros elementos */
}

/* Ajustes para a imagem da logo */
.logo-container img {
  width: 200px; /* Ajuste o tamanho da logo conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}

  .form-row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  h1 {
      font-size: 2rem;
      text-align: center;
      background: linear-gradient(90deg, #7b2232, #d06478);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent ;
  }
  
  .inputbox {
      position: relative;
      margin: 19px 0;
      max-width: 500px;
      border-bottom: 1px solid #7b2232;
  }
  
  .inputbox label {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-60%);
      color: #7b2232;
      font-size: 1rem;
      pointer-events: none;
      transition: all 0.5s ease-in-out;
  }
  
  input:focus ~ label, 
input:valid ~ label {
    top: -10px;}
  
  .inputbox input {
      width: 100%;
      height: 50px;
      background: transparent;
      border: none;
      outline: none;
      font-size: 1rem;
      padding: 0 45px 0 5px;
      color: #7b2232;
      
  }

  

  
  button {
      width: 100%;
      height: 40px;
      border-radius: 40px;
      background-color: #b1808c;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      transition: all 0.4s ease;
      color: #293237;
  }
  
  button:hover {
    background-color: #d06478;
  }
  
  .register {
      font-size: 0.9rem;
      color: #7b2232;
      text-align: center;
      margin: 25px 0 10px;
      cursor: pointer;
  }
  
  .register p a {
      text-decoration: none;
      color: #d06478;
      font-weight: 600;
      
  }
  
  .register p a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
  .product-grid {
      grid-template-columns: 1fr; /* Uma coluna em telas menores */
  }

  .navbar ul {
      flex-direction: column;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.5rem; /* Títulos menores em telas pequenas */
  }
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}